@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: sans-serif;
}

@keyframes flash {
  0% {
    transform: rotate(45deg) translateX(-500%) translateY(-30%);
  }
  100% {
    transform: rotate(45deg) translateX(500%) translateY(-30%);
  }
}

.flash-animation {
  position: relative;
}

.animate-flash {
  animation: flash 1.5s linear infinite;
}
